#result {
	color: var(--C4);
	padding: 20px;
}

.info {
	position: relative;
	display: flex;
	gap: 20px;
	margin-top: 1.2em;
}

.poster {
	width: 25vw;
	height: auto;
	border-radius: 15px;
}

.title-result {
	margin: 0.6em 0 0.9em 0;
	text-align: center;
	font-size: 6vw;
	color: var(--C3);
	text-shadow: 3px 3px 2px var(--C2);
}

.details, .genre{
	font-size: 2vw;
}

h2, h3 {
	color: var(--C3);
	font-size: 2.5vw;
}

.plot-just {
	text-justify: auto;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2vw;
	color: var(--C4);
}
